/********************
    GENERAL ELEMENTS
*********************/
p {
    font-size: 16px;
    padding-top: 5px;
    color: dimgray;
    font-family: Rubik;
}
h1 {
    color: #c2c2c2;
    font-family: Rubik;
    font-size: 36px;
    font-weight: 200;
}
h2 {
    font-size: 17px;
    font-weight: 300;
    color: #c2c2c2;
    font-family: Rubik;
}
a {
    color: #5aa4e3;
    font-family: Rubik;
}
a:hover {
    color: #e3995a;
}

/********************
    JUMBOTRON
*********************/
.jumbotron {
    background-color: #ffffff;
    background-size: cover;
    height: 175px;
}
.jumbotron .container {
    margin-top: -20px;
    text-align: center;
}
.jumbotron h1 {
    color: #d8d8d8;
    font-family: Rubik;
    font-size: 72px;
    font-weight: 100;
    text-shadow: none;
    margin-bottom: 15px;
    display: block;
}

/********************
    PROJECT LIST
*********************/
.page {
    margin-top: 50px;
}
.page .section {
    margin-top: 100px;
}
.project {
    display: inline-block;
    margin: 10px;
    margin-top: -25px;
    margin-bottom: 75px;
    width: 200px;
    height: 250px;
}
.project img {
    display: block;
    height: 100%;
    width: 100%;
    -webkit-filter: blur(1px);
    filter: blur(1px);    
}
.project img:hover {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    -webkit-filter: drop-shadow(3px 3px 2px grey);
    filter: drop-shadow(3px 3px 2px grey);
}
.underline {
    background-size: cover;
    height: 2px;
    margin-bottom: 30px;
}
.java img {
    border-top: 2px solid #f4a130;
}
.java .underline {
    background-color: #f4a130;
}
.csharp img {
    border-top: 2px solid #00ffa5;
}
.csharp .underline {
    background-color: #00ffa5;
}
.html img {
    border-top: 2px solid #a500ff;
}
.html .underline {
    background-color: #a500ff;
}
.unity img {
    border-top: 2px solid #daff00;
}
.unity .underline {
    background-color: #daff00;
}
.android img {
    border-top: 2px solid #ff2500;
}
.android .underline {
    background-color: #ff2500;
}
.open img {
    border-top: 2px solid #005aff;
}
.open .underline {
    background-color: #005aff;
}

/********************
    BACK TO THE TOP
*********************/
.top a {
    font-size: 20px;   
}
.top {
    text-align: center;
}

/********************
    LEARN MORE
*********************/
.learn-more {
    margin-top: 175px;
    border-top: 2px solid #5aa4e3;
    background-color: #fbfbfb;
}
.learn-more h2 {
    font-size: 25px;
    font-weight: 200;
}

/********************
    FOOTER
*********************/
.footer {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}
.footer p {
    font-size: 9px;
}
