/********************
    GENERAL ELEMENTS
*********************/
a {
    font-weight: bold;
    color: #93B3A4;
}
a:hover {
    color: #0e2f44;
}
p {
    font-size: 15px;
    padding-top: 5px;
    color: black;
}
h {
    font-size: 21px;
    font-weight: 600;
    color: #0e2f44;
}
h1 {
    font-size: 25px;
    font-weight: 600;
    color: black;
}
h2 {
    font-size: 30px;
    font-weight: 600;
    color: #0e2f44;
}
/********************
    NAVIGATION
*********************/
.nav a {
    font-size: 12px;
    font-weight: bold;
    padding: 14px 10px;
    text-transform: uppercase;
}
.nav li {
    display: inline;
}

/********************
    JUMBOTRON
*********************/
.jumbotron {
    background-image: url('pictures/kansas-city-missouri.jpg');
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}
.jumbotron .container {
    padding: 10px 10px;
    text-align: center;
}
.jumbotron img {
    margin-top: 20px;
}
.jumbotron h1 {
    color: #fff;
    font-size: 48px;
    font-weight: bold;
    margin-top: -30px;
}

/********************
    SUBHEADER
*********************/
.subheader {
    background-color: #e7e7e7;
}
.subheader h {
    position: relative;
    top: 25px;
    color: #0e2f44;
    font-size: 38px;
    font-weight: bold;
}
.subheader .header {
    float: left;
    display: inline;
    position: relative;
    bottom: 25px;
}
.subheader .tabs {
    float: right;
    display: inline;
    position: relative; 
}

/********************
    NAVIGATION PILLS
*********************/
.nav-pills > li.active > a{
    background-color: #0e2f44;
}
.nav-pills > li.active > a:hover{
    background-color: #0e2f44;
}
.nav>li>a:hover {
    background-color: #fff;
}

/********************
    CONTENT CONTAINERS
*********************/
.page {
    margin-top: 10px;
    margin-bottom: 30px;
}
.page .free-group {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 750px;
}
.page .contained-group {
    margin-top: 35px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 3px solid #dbdbdb;
    background-color: #cbd3db;
    padding: 30px 30px;
}
.page .head {
    color: #0e2f44;
    font-weight: 600;
    font-size: 25px;
}
.page .sub {
    color: #0e2f44;
    font-weight: 300;
    font-size: 17px;
    position: relative;
    bottom: 20px;
}
.page .date {
    color: #fff;
    font-weight: 900;
    font-size: 12px;
    position: relative;
    bottom: 35px;
}

/********************
    IMAGES
*********************/
.page img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -40px;
}

/********************
    LEARN MORE
*********************/
.learn-more {
    background-color: #e7e7e7;
}

/********************
    BACK TO THE TOP
*********************/
.top a {
    font-size: 20px;   
}

.top {
    text-align: center;
}

/********************
    FOOTER
*********************/
.footer {
    text-align: center;
    margin-top: 20px;
}
.footer p {
    font-size: 9px;
}
