a {
    font-weight: bold;
    color: #93B3A4;
}

p {
    font-size: 15px;
    padding-top: 5px;
    color: black;
}

h {
    font-size: 21px;
    font-weight: 600;
    color: #0e2f44;
}

h1 {
    font-size: 25px;
    font-weight: 600;
    color: black;
}

.nav a {
  color: #93B3A4;
  font-size: 12px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron {
  background-image: url('kansas-city-missouri-window-tint.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top:20px;
}

.jumbotron h {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.subheader {
    background-color: #e7e7e7;
}

.subheader h {
    position: relative;
    top: 25px;
    color: #0e2f44;
    font-size: 38px;
    font-weight: bold;
}

.subheader .header {
    float: left;
    display: inline;
    position: relative;
    bottom: 25px;
}

.subheader .tabs {
    float: right;
    display: inline;
    position: relative;
}

.nav-pills > li.active > a{
    background-color: #0e2f44;
}

.nav-pills > li.active > a:hover{
    background-color: #0e2f44;
}

.nav>li>a:hover {
    background-color: #fff;
}

.page {
    margin-top: 10px;
    margin-bottom: 30px;
}

.page .free-group {
    margin-top: 40px;
}

.page .contained-group {
    margin-top: 35px;
    margin-bottom: 50px;
    border-bottom: 3px solid #dbdbdb;
    background-color: #cbd3db;
    padding: 30px 30px;
}

.experienceList .job {
    margin-top: 25px;
    margin-bottom: 50px;
    border-bottom: 3px solid #dbdbdb;
    background-color: #cbd3db;
    padding: 20px 30px;
}

.experienceList .content {
    display: block;
}

.experienceList .head {
    color: #0e2f44;
    font-weight: 600;
    font-size: 30px;
}

.experienceList .sub {
    color: #0e2f44;
    font-weight: 300;
    font-size: 17px;
    position: relative;
    bottom: 20px;
}

.experienceList .date {
    color: #fff;
    font-weight: 900;
    font-size: 12px;
    position: relative;
    bottom: 35px;
}

.top a {
    font-size: 20px;   
}

.top {
    text-align: center;
}

.footer {
    text-align: center;
    margin-top: 20px;
}

.footer p {
    font-size: 9px;
}
