all.clsMenuItemNS, .clsMenuItemIE{text-decoration: none; font: bold 12px Lucida Sans; color: #6600CC; cursor: finger
z-index:100; align: center}
#MainTable 
A:hover {color: #C0C0C0;text-decoration: blink;}