.header {
  width: 100%;
  margin-bottom: 20px;
}

#header-container {
  width: 100%;
  max-width: 750px;
  display: block;
  margin: auto;
  border-bottom: 8px solid #293241;
}

.nav-tabs > li, .nav-pills > li {
    float: none !important;
    display: inline-block !important;
    *display: inline; /* ie7 fix */
     zoom: 1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align: center;
}

#pill {
  font-size: 1.2em;
}

#btn-img {
  width: 20px;
  height: 20px;
}

.modal-header {
  background-color: #293241;
  border-bottom: none;
  color: #fff;
}

.modal-footer {
  background-color: #ddd8b8 !important;
}

#btn-close {
  color: #fff;
}
