@import "main.less";

.content-container {
  position: relative;
  display: flex;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(270deg, #7dd181, #5aa4e3);
  background-size: 400% 400%;
  -webkit-animation: seafoam 60s ease infinite;
  -moz-animation: seafoam 60s ease infinite;
  animation: seafoam 60s ease infinite;
}

@-webkit-keyframes seafoam {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

@-moz-keyframes seafoam {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

@keyframes seafoam {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.card {
  position: relative;
  width: 90%;
  max-width: 400px;
  height: auto;
  margin: auto;
  padding: 20px;
  border-radius: 50px;
  text-align: center;
  background-color: white;
}

.underline {
  height: 3px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 12px;
  background-color: @english-vermillion;
}

.card-name {
  font-size: 32px;
  font-weight: bold;
  line-height: 120%;
}

.text {
  line-height: 120%;
  font-size: 20px;
}

.card-img {
  position: relative;
  height: 125px;
  width: 125px;
  bottom: 135px;
  margin: 0 auto;
  margin-bottom: -150px;
  border: 3px solid white;
  border-radius: 125px;
}

.card-text {
  height: 100%;
  width: 100%;
}

.links {
  display: flex;
  height: 100px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: -10px;
  text-align: left;
}

.pages {
  height: 100px;
  width: 50%;
  padding-left: calc(~"100% - 85%");
}

.social {
  height: 100px;
  width: 50%;
  padding-left: calc(~"100% - 85%");
}

@media only screen and (max-width: 450px) {
  .card {
    width: 100%;
    max-width: 100%;
    padding: 0;
    background-color: transparent;
  }

  .card-img {
    width: 100px;
    height: 100px;
    top: 25px;
    margin-bottom: 0;
  }

  .card-text {
    padding: 5px;
    padding-top: 30px;
    background-color: white;
  }

  .card-name {
    font-size: 26px;
  }

  .text {
    font-size: 16px;
  }

  .icon {
    height: 20px;
    width: 20px;
  }
}

// @media only screen and (orientation: portrait),
// only screen and (orientation: landscape) and (max-width: 800px) {
//
//   .card {
//     width: 100%;
//     max-width: 100%;
//     padding: 0;
//     padding-bottom: 70px;
//     background-color: transparent;
//   }
//
//   .card img {
//     width: 100px;
//     height: 100px;
//     top: 25px;
//     margin-bottom: 0;
//   }
//
//   .card__text {
//     padding: 5px;
//     padding-top: 30px;
//     background-color: white;
//   }
//
//   .card h {
//     font-size: 26px;
//   }
//
//   .card p {
//     font-size: 16px;
//   }
// }
//
// @media only screen and (orientation: landscape) {
//   .color-pane {
//     height: 100%;
//     width: 50%;
//   }
//
//   .motion-pane {
//     height: 100%;
//     width: 50%;
//   }
//
// }
//
// @media only screen and (orientation: portrait) {
//   .color-pane {
//     height: 50%;
//     width: 100%;
//   }
//
//   .motion-pane {
//     height: 50%;
//     width: 100%;
//   }
//
//   .card {
//     padding-bottom: 40px;
//   }
// }
