@import "main.less";

.content-container {
  position: relative;
  display: flex;
  height: calc(~"100vh - 40px");
  width: 100vw;
  top: 40px;
  overflow: hidden;
  background: linear-gradient(270deg, @pastel-green, @blue-jeans);
  background-size: 400% 400%;
  -webkit-animation: seafoam 30s ease infinite;
  -moz-animation: seafoam 30s ease infinite;
  animation: seafoam 30s ease infinite;
}

@-webkit-keyframes seafoam {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

@-moz-keyframes seafoam {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

@keyframes seafoam {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.card {
  position: relative;
  width: 90%;
  max-width: 400px;
  height: auto;
  margin: auto;
  margin-top: 160px;
  padding: 20px;
  border-radius: 50px;
  text-align: center;
  background-color: white;
}

.underline {
  height: 3px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 12px;
  background-color: @english-vermillion;
}

.text {
  line-height: 120%;
  font-size: 20px;
}

.card-img {
  position: relative;
  height: 125px;
  width: 125px;
  bottom: 135px;
  margin: 0 auto;
  margin-bottom: -175px;
  border: 3px solid white;
  border-radius: 125px;
}

.card-text {
  height: 100%;
  width: 100%;
}

.text-home--large {
  font-size: 1.3em;
  font-family: 'Roboto', sans-serif;
}

.text-home--reg {
  font-size: 1.1em;
  font-family: 'Roboto', sans-serif;
}

.link {
  display: table-cell;
}

.social-links {
  margin-top: 20px;
}

.social-logo {
  width: 20px;
  height: auto;
}

@media only screen and (max-width: 450px) {
  .card {
    margin-top: 110px;
  }

  .card-img {
    width: 100px;
    height: 100px;
    margin-bottom: -200px;
  }

  .card-name {
    font-size: 26px;
  }

  .text {
    font-size: 1.1em;
  }
}

@media only screen and (max-width: 350px) {
  .card {
    width: 100%;
    padding: 0;
    margin-top: 0;
    background-color: transparent;
  }

  .card-img {
    width: 100px;
    height: 100px;
    top: 40px;
    margin-bottom: 0;
  }

  .card-text {
    padding: 5px;
    padding-top: 30px;
    background-color: white;
  }

  .social-links {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}
