@bone: #ddd8b8;
@gunmetal: #293241;
@blue-jeans: #57b8ff;
@pastel-green: #7dd181;
@english-vermillion: #d33f49;
@steal-teel: #628395;

h1 {
  color: @gunmetal;
}

a {
    color: @blue-jeans;
}

a:hover {
  color: @steal-teel;
  text-decoration: none;
  cursor: pointer;
}

h1,
a,
p,
ul {
  font-family: 'Roboto', sans-serif;
}

.text--large {
  font-size: 1.4em;
}

.text--reg {
  font-size: 1.2em;
}

.container {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  display: block;
}

// NAVIGATION

.header-bar {
  position: fixed;
  height: 40px;
  width: 100vw;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: @gunmetal;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header-title {
  display: inline-block;
  float: left;
  height: 100%;
  width: calc(~"100% - 240px");
  padding-top: 4px;
  text-align: right;
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
  color: white;
}

.btns {
  display: inline-block;
  float: right;
  height: 40px;
  width: 160px;
  margin: 0 40px;
}

.btn {
  display: flex;
  float: left;
  width: 25%;
  height: 100%;
  border: none;
  border-radius: 0;
  background-color: @bone;
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
}

.btn-container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.btn-icon {
  height: 100%;
  width: 100%;
  margin: 0;
  border: none;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: @bone;
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
}

.btn-icon--about {
  background-image: url(../../img/icons/ic_about_black.png);
}

.btn-icon--resume {
  background-image: url(../../img/icons/ic_resume_black.png);
}

.btn-icon--projects {
  background-image: url(../../img/icons/ic_projects_black.png);
}

.btn-icon--blog {
  background-image: url(../../img/icons/ic_blog_black.png);
}

.btn--selected {
  background-color: @english-vermillion;
  cursor: pointer;

  .btn-icon {
    background-color: @english-vermillion;
  }
}

.btn:hover {
  background-color: @english-vermillion;
  cursor: pointer;
  transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;

  .btn-icon {
    background-color: @english-vermillion;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
  }
}

.btn--selected,
.btn:hover {
  .btn-icon--about {
    background-image: url(../../img/icons/ic_about_white.png);
  }

  .btn-icon--resume {
    background-image: url(../../img/icons/ic_resume_white.png);
  }

  .btn-icon--projects {
    background-image: url(../../img/icons/ic_projects_white.png);
  }

  .btn-icon--blog{
    background-image: url(../../img/icons/ic_blog_white.png);
  }
}

@media only screen and (max-width: 450px) {
  .header-title {
    width: calc(~"100% - 180px");
    font-size: 18px;
    padding-top: 7px;
  }

  .btns {
    margin-left: 20px;
    margin-right: 0px;
  }

  .text--large {
    font-size: 1.2em !important;
  }

  .text--reg {
    font-size: 1em !important;
  }
}
