@import "main.less";

p {
  line-height: 1.5;
}

.content-container {
  position: relative;
  height: auto;
  width: 100%;
  max-width: 1000px;
  top: 40px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

.content-item {
  display: flex;
  width: 100%;
  margin-bottom: 50px;
}

.text {
  width: auto;
  min-width: 400px;
  max-width: 700px;
}

.picture {
  width: 250px;
  margin: auto;
  margin-left: 50px;
}

.logo {
  width: 20px;
  height: auto;
}

.icon {
  width: 18px;
  height: 18px;
}

.pic {
  width: 100%;
  height: auto;
  border: 3px solid @gunmetal;
}

.underline {
  height: 3px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 12px;
  background-color: @english-vermillion;
}

footer {
  text-align: center;
  margin-top: 75px;
}

.social {
  font-size: 1em;
  margin-bottom: 5px;
}

.social-logo {
  width: 20px;
  height: auto;
}

.footer-p {
  font-size: 9px;
}

@media only screen and (max-width: 1180px) {
  .content-container {
    padding-left: 20px;
  }

  .content-item {
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 700px) {
  .content-item {
    flex-wrap: wrap;
  }

  .text {
    min-width: 0;
  }

  .picture {
    margin: auto;
    margin-top: 20px;
  }

  .title {
    font-size: 26px;
  }
}
